#footer {
  width: 100%;
  height: 22px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0 7.5px;
  box-sizing: border-box;

  background: #007ACC;
  display: flex;

  a, span {
    color: #FFF;

    padding: 0 7.5px;
    margin-right: 5px;
    font-size: 12px;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;

    height: 22px;
    line-height: 22px;

    font-family: "Segoe WPC", "Segoe UI", "Noto Sans", sans-serif;
    text-decoration: none;

    &:hover {
      background: #1F8AD2;
    }

    img {
      width: 14px;
      height: 14px;
      vertical-align: -2px;
      margin-right: 3px;
    }
  }

  select {
    background: transparent;
    border: 0 none;
    cursor: pointer;

    &:focus, &:active {
      outline: none !important;
      border: 0 none !important;
    }

    option {
      color: #000;

      &:hover, &:focus, &:active {
        border: 0 none !important;
        box-shadow: none !important;
        outline: none !important;
      }
    }

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0;
    text-overflow: '';

    font-size: 12px;
    color: #FFF;

    height: 22px;
  }

  #select-fix {
    position: relative;
    width: 130px;

    select {
      position: absolute;
      top: 0;
      left: 0;

      padding-left: 28px;
    }
  }

  .spacer {
    flex-grow: 1;
  }
}
