<div id="footer">
  <a href="https://knexjs.org/" rel="external noopener noreferrer" target="_blank">
    <img src="./assets/knex-icon-white.png" alt="Knex Icon" />
    Knex.js {{ knexVersion }}
  </a>

  <span id="select-fix">
    <img alt="Knex Client Icon" [src]="`./assets/clients/${client}.png`" />
    <select
      #clientSelect
      title="Knex Client"
      [ngModel]="client"
      (ngModelChange)="this.state.setState({ client: $event })"
    >
      @for (option of knexClients; track option.id) {
        <option [value]="option.id">{{ option.name }}</option>
      }
    </select>
  </span>

  <span
    title="Prettify code (Ctrl + Shift + P)"
    tabindex="0"
    role="button"
    (click)="prettify.emit()"
    (keydown.enter)="prettify.emit(); $event.preventDefault()"
    (keydown.space)="prettify.emit(); $event.preventDefault()"
  >
    <img src="./assets/prettier-icon.svg" alt="Prettier Icon" />
    Prettify
  </span>

  <div class="spacer"></div>

  <a href="https://github.com/dgadelha/knex-playground" rel="external noopener noreferrer" target="_blank">
    <img src="./assets/github.png" alt="GitHub Icon" />
    GitHub
  </a>
</div>
