<as-split [direction]="isBelowMd ? 'vertical' : 'horizontal'">
  <as-split-area [size]="50">
    <ngx-monaco-editor
      #knexEditor
      [options]="knexEditorOptions"
      [(ngModel)]="code"
      (ngModelChange)="state.setState({ code: $event })"
      (init)="editorInit($event)"
    />
  </as-split-area>

  <as-split-area [size]="50">
    <ngx-monaco-editor #sqlEditor [options]="sqlEditorOptions" [(ngModel)]="sql" />
  </as-split-area>
</as-split>

<app-footer (prettify)="onPrettify()" />
